/* CSS for project one- group one */

.row {
    width: 800px;
    margin: auto;
    border: 5px dotted #8E0C3A;
    padding: 8px;
}

.leftcolumn {
    float: left;
    width: 389px;
    border: 2px dotted #FFC627;
    margin-top: 5px;
    margin-right: 5px;
    background-color: bisque;
    height: 120mm;
}

.rightcolumn {
    float: left;
    width: 387px;
    border: 2px dotted #FFC627;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: bisque;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#userinfo {
    margin-top: 5mm;
}

body {  
    min-width: 600px;
    background-image: url("asu-gradient-background.png");
    margin-top: 5mm;
}

#userimg {
    margin-top: 5mm;
    margin-left: 143px;
}

h5 {
    padding-top: 1mm;;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin-top: 5mm;
    margin-bottom: 2mm;
    margin-left: 4mm;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2mm;
    margin-bottom: 2mm;
    margin-left: 2mm;
}

label {
    padding: 2mm;
    margin-bottom: 4mm;
    
}
select {
    width: 91mm;
    margin: 4px;
}

.anonymousstatement {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin-top: 3;
    margin-right: 8mm;
    margin-left: 8mm;
    text-align: justify;
    text-justify: inter-word;
}

#resetPassword {
    transform: translate(120%);
    margin-bottom: 1mm;
    margin-top: 2mm;
}

#logout {
    transform: translate(160%);
    margin-bottom: 1mm;
    margin-top: 2mm;
}

#homeimage{
    float: left;
    
}

#userlogo{
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.departmentselect {
    border: 2px dotted #FFC627;
    width: 717px;
    height: 47px;
    
    float: right;
    background-color: bisque;
    padding: 1mm;
}

#userinfo button{
    transition-duration: 0.4s;
    
}
#userinfo button:hover{
    background-color: #8E0C3A; /* Green */
    color: white;
}

.departmentselect button{
    transition-duration: 0.4s;
    margin-top: 4mm;
    margin-left: 3mm;
    margin-right: 3mm;
    

}

.departmentselect button:hover{
    background-color: #8E0C3A; /* Green */
    color: white;
}

.postfeed {
    margin: 2mm;
    border: 2px dashed #8E0C3A;
    padding-left: 3mm;
}

#issue {
    width: 89mm;
    margin: 4px;
}

.userpost {
    margin: 2mm;
    border: 2px dashed #8E0C3A;
    padding: 2mm;
}

#feedback {
    width: 90mm;
    height: 30mm;
    margin: 4px;
    word-break: break-all;

}

#deptselect {
    margin-top: 10px;
    text-align: center;
  
}
#sortbutton {
    margin-top: 5px;
    width: 200px;
}

#postsubmission{
    margin: 2mm;
    border: 2px dashed #8E0C3A;
    padding: 2mm;
}

#submitpostbutton{
    margin-left: 3px;
    width: 92mm;
}

.ribbonButtons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    float: right;
    border: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.homeRibbon {
    background-color: green;
}