/* CSS for project one- group one */

.row {
    width: 100%;
    margin: auto;
    border: none;
}

.column {
  float: left;
  width: 8.3333%;
  border: 2px dotted #FFC627;
  background-color: bisque;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

html {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

body {  
    min-width: 600px;
    background-image: url("asu-gradient-background.png");
    height: 100%;
    overflow: auto;
    width: 100%;
    max-width: 100%;
}

#userlogo {
    margin-top: 5mm;
    
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5mm;
    margin-bottom: 2mm;
    margin-left: 4mm;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2mm;
    margin-bottom: 2mm;
    margin-left: 2mm;
}

label {
    padding: 2mm;
    margin-bottom: 4mm;
    
}
select {
    width: 91mm;
    margin: 4px;
}

#logout {
    transform: translate(350%);
    margin-bottom: 1mm;
}

.postfeed {
    margin: 2mm;
    border: 2px dashed #8E0C3A;
    padding: 2mm;
}

#issue {
    width: 89mm;
    margin: 4px;
}

#userlogo {
margin-left: 47%;
margin-top: 8px;;
}

.sectionHeader{
    font-size: large;
    margin-bottom: 5px;
    margin-left: 10px;
}
.anonymousstatement {
    margin-right: 15px;
}

#homeLink {

    float: left;
    height: 60px;
    width: 60px;
}
.userpost {
    margin: 2mm;
    border: 2px dashed #8E0C3A;
    padding: 2mm;
}

#feedback {
    width: 90mm;
    height: 30mm;
    margin: 4px;
    word-break: break-all;

}

#deptselect {
    margin-top: 10px;
    text-align: center;
  
}
#sortbutton {
    margin-top: 5px;
    width: 200px;
}

#postsubmission{
    margin: 2mm;
    border: 2px dashed #8E0C3A;
    padding: 2mm;
}

#submitpostbutton{
    margin-left: 3px;
    width: 92mm;
}

#homeRibbon {
    width: 100%;
    background-color: lightgreen;
    padding:5px;
}

.ribbonButtons:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ribbonButtons {
    background-color: transparent;
    float: right;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#feed{
    background-color: tan;
    padding: 3px;
    height: 90%;
}

.spacer {
    background-color: inherit;
    float: left;
}

.postFeed {
    background-color: blue;
    margin: 2px;
    float:left;
}

.post {
    background-color: red;
    float: left;
    border: 1px solid black;
    margin: 5px;
}

#postTitle {
    font-weight: bold;
    font-size: 14pt;
}

#postInfo {
    font-size: 12pt;
}